!!!
%html
  %head
    %title Memory Jar
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application', async: true
    = analytics_init if Rails.env.production?
    = csrf_meta_tags
  %body
    = yield